.game-teaser-area {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        bottom: 80px;
        left: 0;
        width: 100%;
        height: 300px;
        background-image: url('../../images/teaser-bg.png');

        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        z-index: -1;



    }
}

.game-item {
    cursor: pointer;
}

@media (max-width: 991.98px){
    .game-teaser-area::after { 
        bottom: 0;
        left: 0; 
        height: 146px;  
    }
}
